.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tile{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 5px;
    margin: 1px;
    display: flex;
    justify-content: center;
}

.tile:hover{
    opacity: 0.5;
    cursor: pointer;
}

.board{
    background-color: rgb(29, 29, 84);
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    margin: 10px;
    z-index: 1;
    margin: 20px;
}
