#t0-0, #t0-7, #t0-14, #t7-0, #t7-14, #t14-0, #t14-7, #t14-14{
    background-color: red;
}

#t0-3, #t0-11, 
#t2-6, #t2-8, 
#t3-0, #t3-7, #t3-14,
#t6-2, #t6-6, #t6-8, #t6-12,
#t7-3, #t7-11,
#t8-2, #t8-6, #t8-8, #t8-12,
#t11-0, #t11-7, #t11-14,
#t12-6, #t12-8,
#t14-3, #t14-11{
    background-color: lightblue;
}

#t1-1, #t1-13,
#t2-2, #t2-12,
#t3-3, #t3-11,
#t4-4, #t4-10,
#t7-7,
#t10-4, #t10-10,
#t11-3, #t11-11,
#t12-2, #t12-12,
#t13-1, #t13-13{
    background-color: rgb(255, 183, 0);
}

#t1-5, #t1-9,
#t5-1, #t5-5, #t5-9, #t5-13,
#t9-1, #t9-5, #t9-9, #t9-13,
#t13-5, #t13-9{
    background-color: rgb(0, 89, 255);
}