body > *{
  margin: 0;
  padding: 0;
}

#root{
  margin-top: -10px;
  height: 110vh;
  background-color: grey;
  background-image: url('./scrabblebackgroud.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.Game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contest-button{
  background: linear-gradient(yellow, red);
}

#dont-contest-button{
  background: linear-gradient(white, black);
}

#redraw-button{
  background: linear-gradient(green, rgb(0, 255, 255));
}

#confirm-play-button{
  background: linear-gradient(blue, purple);
}

#start-button{
  background: linear-gradient(blue, rgb(0, 255, 255));
}

.input-button{
  margin: 20px;
  height: 60px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid white;
}

.input-button:hover{
  opacity: 0.8;
  border: 1px solid black;
}

.top-container{
  display: flex;
}

.leaderboard{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: grey;
  border: 2px solid aqua;
  border-radius: 10px;
}


#login{
  width: fit-content;
}

.title{
  margin-top: 100px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
  position: fixed;
  bottom: 0;
  background-color: rgba(22, 22, 68, 0.4);
  color: white;
  width: 100%;
  text-align: center;
}

.board-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.letter-bag{
  position: relative;
  z-index: 0;
}

.letter-count{
  position: relative;
  z-index: 1;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.letter-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-state{
  color: red;
  font-weight: bold;
}